.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
}

.box{
    width: 60px;
    height: 60px;
    border:1px solid #000;
    margin:200px auto;
    background-color: rgba(63, 46, 179, 0.898);
}

.box{
    transition:2s;
}
.box:hover{
    border-radius:50%;
    border:25px solid rgba(255, 255, 0, 0.837);
}

.b{
    width: 80px;
    height: 80px;
    background-color: rgba(27, 147, 174, 0.898);
}
.e{
    width: 400px;
    height:20px;
    background-color: cadetblue;
}


/* ---------ANIMATIONS-------- */
.a{
    animation: spin 0.2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);   
    }
}
.b{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1 turn);   
    }
}

.c{
    animation: spin 3.5s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);   
    }
    50%{
        transform: scale(2);
    }
}
.d{
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1 turn);   
    }
}.e{
    animation: spin 9.5s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);   
    }
}
