.box{
    width: 200px;
    height: 200px;
    border:1px solid #000;
    margin:200px auto;
    background-color: rgba(63, 46, 179, 0.898);
    float: left;
}

.box{
    transition:2s;
}
.box:hover{
    border-radius:50%;
    border:10px solid black;
}
.box {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(2turn);   
    }
}